.container {
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  /* background-color: #fdc400; */
  background-color: #39230b;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: black;
  animation-duration: 5s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

@keyframes black {
  from {background-color: #39230b;}
  to {background-color: #04388b;}
}

.caririOldLogo {
  width: 120px;
  height: 200px;
  animation-name: oldLogo;
  animation-duration: 1.5s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
  display: flex;
  z-index: 10px;
  margin-left: 40px;
}

@keyframes oldLogo {
  from {opacity: 1.0;}
  to {opacity: 0;}
}

.caririLogo {
  width: 200px;
  height: 200px;
  animation-name: logo;
  animation-duration: 12s;
  animation-delay: 8s;
  animation-fill-mode: forwards;
  opacity: 0;
  display: flex;
  margin-left: -165px;
}

@keyframes logo {
  from {opacity: 0;}
  to {opacity: 1.0;}
}

.middle {
  background-color: #39230b;
  width: 100%;
  height: 20vh;
  align-items: center;
  animation-name: black;
  animation-duration: 5s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

.key {
  width: 150px;
  height: 150px;
  padding-top: 5px;
  color: grey;
  animation-name: keyWalk;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes keyWalk {
  from {
    margin-left: 5%;
    opacity: 1.0;
  }
  to {
    margin-left: 45%;
    opacity: 0.0;
  }
}

.bottom {
  /* background-color: #04388b; */
  background-color: #daac73;
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: white;
  animation-duration: 5s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

@keyframes white {
  from {background-color: #daac73;}
  to {background-color: #fdc400;}
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #39230b;
}

.title {
  text-align: center;
}

.oldTitle {
  color: #39230b;
  animation-name: oldLogo;
  animation-duration: 1.5s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
  display: flex;
  z-index: 10px;
  margin-left: 120px;
}

.newTitle {
  color: #04388b;
  animation-name: logo;
  animation-duration: 12s;
  animation-delay: 8s;
  animation-fill-mode: forwards;
  opacity: 0;
  display: flex;
  margin-left: -200px;
}